/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define LOWER   1
#define NUMBER  2
#define MOUSE   3
#define BT      4


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
// |  TAB |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | LEFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | RIGHT|
//                          | SHFT|CNTRL|   | SPC | L2  
                        bindings = <
   &kp ESC   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp TAB &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LEFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RIGHT
                       &kp LSHFT &kp LCTRL   &kp SPACE &to LOWER 
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  ESC | ATSN| HASH| DLLR|EQUAL|PRCNT|   |MINUS| LPAR|RPAR |  LT |  GT | BSPC |
// |  TAB |GRAVE| LEFT|  UP |RIGHT| ENT |   |UNDER| LBRC|RBRC | PIPE|COLON|      |
// |      |     |     | DOWN|     |     |   |     | LBKT|RBKT |     |     | MOUSE|
//                          |  L1 | ALT |   | SPC |  L3 |
                        bindings = <
   &kp ESC    &kp AT   &kp HASH   &kp DLLR  &kp EQUAL   &kp PRCNT     &kp MINUS   &kp LPAR   &kp RPAR &kp LT  &kp GT &kp BSPC
   &bt TAB &kp GRAVE  &kp LEFT  &kp UP  &kp RIGHT  &kp ENTER  &kp UNDER  &kp LBRC &kp RBRC &kp PIPE &kp COLON &trans
   &trans  &trans       &trans   &kp DOWN       &trans    &trans   &trans   &kp LBKT   &kp RBKT &trans    &trans &to MOUSE
                                    &to DEFAULT     &kp LALT      &kp SPACE      &to NUMBER
                        >;
                };

                number_layer {
// -----------------------------------------------------------------------------------------
// |  ESC | PREV|  PP | NEXT| MUTE|S_UP |   |ASTRK|  7  |  8  |  9  |MINUS| BSPC |
// |      |     |     |VOLUP|VLDWN|S_DWN|   |SLASH|  4  |  5  |  6  | PLUS|      |
// |      |     |     |     |     |     |   |  0  |  1  |  2  |  3  | ENT |    |
//                          |  L1 |     |   | SPC |  L4 | 
                        bindings = <
   &kp ESC  &kp C_PREV  &kp C_PP  &kp C_NEXT  &kp C_MUTE &kp C_AC_SCROLL_UP  &kp ASTRK   &kp N7   &kp N8 &kp N9    &kp KP_MINUS &kp BSPC
   &trans  &trans  &trans  &kp C_VOL_UP  &kp C_VOL_DN &kp C_AC_SCROLL_DOWN  &kp KP_SLASH  &kp N4  &kp N5  &kp N6  &kp KP_PLUS &trans 
   &trans  &trans  &trans  &trans  &trans  &trans  &kp N0  &kp N1  &kp N2  &kp N3  &kp KP_ENTER  &trans
                                    &to DEFAULT     &trans       &kp SPACE      &to BT
                        >;
                };

                mouse_layer {
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |S_UP |   |     |     |M_UP |     |     |      |
// |      |     |     |     |     |S_DWN|   |     |M_LFT|M_DMN|M_RGH|     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                          |  L1 |L_CLC|   |R_CLC|  L2 |
                        bindings = <
   &trans  &trans  &trans  &trans  &trans  &kp C_AC_SCROLL_UP  &trans  &trans  &mmv MV_SUP  &trans  &trans &trans
   &trans  &trans  &trans  &trans  &trans  &kp C_AC_SCROLL_DOWN  &trans  &mmv MV_SLEFT  &mmv MV_SDOWN  &mmv MV_SRIGHT  &trans &trans
   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                    &to DEFAULT     &mkp LCLK        &mkp RCLK     &to LOWER 
                        >;
                };

                bt_layer {
// -----------------------------------------------------------------------------------------
// |BT_CLR|     |BTNXT|BTPRV|     |     |   |  BT1|  BT2|  BT3|  BT4|  BT5|      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                          |     |     |   |     |  L1 | 
                        bindings = <
   &bt BT_CLR  &trans  &bt BT_NXT  &bt BT_PRV  &trans  &trans   &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 5  &trans
   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  
   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans 
                             &trans &trans   &trans   &to DEFAULT  
                        >;
                };
        };
};
