if SHIELD_CHIMERA_LEFT

config ZMK_KEYBOARD_NAME
    default "Chimera"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CHIMERA_LEFT || SHIELD_CHIMERA_RIGHT

config ZMK_SPLIT
    default y

endif